nav{
    float: left;
  width: 250px;
  margin-left: 300px;
  margin-top: 150px;
  font-style: italic;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
  font-size: medium;
  color: red;
}
#coils{
    float: left;
    width: 380px;
    margin-left: 25px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: medium;
    font-style: italic;
    color: red;
    margin-top: 50px;

}  
img{
    margin-top: 60px;
    margin-left: 10px;
}  
body{
    
    margin: 0px auto;
    background: url(../images/fon-abstraktsiia-sinii-tekstura.jpg)no-repeat;
}
ul{
    list-style: circle;
    color: red;
}
footer{
    padding: 16px 0 16px 0;
    border-top: 2px solid #000000;
    clear: both;
    color: red;
}





