#work{
    width: 600px;
    
    padding: 10px;
    margin: 10px;
    float: left;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: medium;
    font-style: italic;
    line-height: 20px;
    margin-left: 50px;
    color: red;
}
table td{
    border: 2px solid #000000;
    padding: 10px;
    

}
tr:nth-child(2n){
    background-color: aquamarine;
}
tr:nth-child(2n+1){
    background-color: aqua;
}
.literary{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: medium;
    font-style: italic;
    color: red;
   
    
}
nav{
    float: left;
    width: 200px;
    margin-left: 30px;
    margin-top: 60px;
    
}
ul{
    list-style: circle;
    color: red;
}
b{
    font-weight: bolder;
}
i{
    font-style: italic;
}
footer{
    padding: 16px 0 16px 0;
    border-top: 2px solid #000000;
    clear: both;
    color: red;
}
body{
    width: 960px;
    margin: 0px auto;
    background: url(../images/fon-abstraktsiia-sinii-tekstura.jpg)no-repeat;
}
